.header {
    background-color: var(--primary-color);
    width: 100%;
    height: var(--header-height);
    color: var(--header-color);
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: row;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
  }

  .header-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }